:root {
    --primaru-text-color: #212121;
    --titel-text-color: #2196F3;
    --accent-color: #F5F4FA;
}

/* css for index.html */
.body {
    font-family:'Roboto', sans-serif;
    color: #212121;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;




    outline: 2px solid tomato;
}



.header {
    padding-top: 24px;
    padding-bottom: 24px;
}
/* 
.main-nav {
    display: flex;
}

.sit-nav {
    display: flex;
} */

.size {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* logo */
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo {
    color: #212121
}

.clean {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills {
    padding-bottom: 94px;
    padding-top: 94px;
    
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Nav */
.nav {
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
}

.nav .link-nav {
    color: var(--titel-text-color);
}

.nav a {
    text-decoration: none;
}

.nav:hover,
.nav:focus,
.link-nav:hover,
.link-nav:focus,
.link-navigation:hover,
.link-navigation:focus,
.name-button:hover,
.name-button:focus,
.address:hover,
.address:focus,
.footer-nav:hover,
.footer-nav:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.btn-secondary:hover,
.btn-secondary:focus
.btn-primary:hover,
.btn-primary:focus {
    color: #2196F3
}

/* header-address */
.mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}


.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

/* Hero */
.hero {
    background: #2F303A;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    



    outline: 2px solid tomato;
}

.head {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-primary {
    min-width: 200px;
    display: inline-block;
    padding: 10px 32px ;
    border: 1px solid transparent;
    font-family: inherit;
    background: var(--titel-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    cursor:pointer;
    text-align: center;
} 


/* features */

.features {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-details {
    display: flex;
}


/* .features-size {

} */

.features-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}

.interactive {
    background-color: aqua;
    padding-bottom: 94px;
}


.back {
    /* background: #F5F4FA; */
    background-color: violet;
    padding-bottom: 94px;
    }

.head-name {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

/* team */
.team{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team-group {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}

.name-group {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-position {
    margin-top: 0;
    margin-bottom: 0px;
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.position {
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

/* footer */
.footer {
    background: #2F303A;
    height: 252px;
    
}
.logo-footer {
    color: #FFFFFF;
}



/* address */
.address-footer {
    margin-top: 20px;
    font-style: normal;

}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 9px;
}


.footer-address {
    text-decoration: none;
}

.footer-nav {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* css for portfiolio */

/* buttons */
.btn {
    background: #F5F4FA;
    border-radius: 4px;
    cursor:pointer;
}

.btn-secondary {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor:pointer;
}

.tip {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--accent-color);
}

/* sample */
.sample-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 4px;
}

.text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0;
}

.project {
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.sample-clean {
    text-decoration: none;
}

.visually-projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects-sample {
    padding: 20px 24px;
}