:root {
--primaru-text-color: #212121;
--titel-text-color: #2196F3;
--accent-color: #F5F4FA;
}

/* css for index.html */
.body {
font-family:'Roboto', sans-serif;
color: #212121;
}
/* logo */
.logo-link {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.20;
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
}

.logo {
color: #212121
}

.clean {
list-style: none;
}

/* Nav */
.nav {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.nav .link-nav {
color: var(--titel-text-color);
}

.nav a {
text-decoration: none;
}

.nav:hover,
.nav:focus,
.link-nav:hover,
.link-nav:focus,
.link-navigation:hover,
.link-navigation:focus,
.name-button:hover,
.name-button:focus,
.address:hover,
.address:focus,
.footer-nav:hover,
.footer-nav:focus,
.btn-secondary:hover,
.btn-secondary:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
color: tomato
}

/* header-address */
.mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #2196F3;
}


.tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

/* Hero */
.hero {
background: #2F303A;
}

.head {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.btn-primary {
background: var(--titel-text-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
} 


.name-button {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--accent-color);
}



/* features */
.features {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.features-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.back {
background: #F5F4FA;

}

.h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #212121;
}

/* team */
.team{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #212121;
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #757575;
}

/* footer */
.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: #2F303A;
}
.logo-footer {
color: #FFFFFF;
}

/* address */
.address-footer {
font-style: normal
}

.address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
}


.footer-address {
text-decoration: none;
}

.footer-nav {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/* css for portfiolio */

/* buttons */
.btn {
background: #F5F4FA;
border-radius: 4px;
cursor:pointer;
}

.btn-secondary {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}


.tip {
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

/* sample */
.sample-head {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}